[Unit]
Description=Frontend application based on NodeJS

[Service]
ExecStart=http-server ./dist/frontend/ -p 80 --proxy http://localhost:8080
AmbientCapabilities=CAP_NET_BIND_SERVICE
StandardOutput=append:/logs/out-front.log
WorkingDirectory=/var/www-data/
RestartSec=3
Restart=always
KillMode=process
User=front-user

[Install]
WantedBy=multi-user.target
